.form-authorization{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
    padding: 15px;
    border: 2px solid gray;
    height: 300px;
    width: 300px;
}

.form-authorization input{
    margin-bottom: 10px;
    padding: 5px;
    border-color: gray;
    outline: none;
}

#submit{
    outline: none;
    font-size: 16px;
    font-family: 'Liberation Serif' ,sans-serif ;
    background-color: #bfbfbf;
    padding: 10px 0;
    width: 150px;

}

.error-name, .error-login, .error-password, .error-checkbox{
    display: none;
}
.active{
    display: block;
    color: red;
    font-size: 10px;
}

.form-authorization .valid {
    border-color: green;

}

.form-authorization .invalid{
    border-color: #900;
    background-color: #FDD;
}

.tab{
    display: none;
    width: 300px;
    height: 200px;
}

.show{
    display: block;
}

.hotels{
    background: rgba(102, 211, 75, 0.74);
}

.cars{
    background: #57D3C3;
}

.flights{
    background: #a3bf3c;
}

#cars, #hotels, #flights{
    border-radius: 2px;
    padding: 5px 10px;
    border: none;
    outline: none;
}
#cars{
    background: #57D3C3;
}

#hotels {
    background: rgba(102, 211, 75, 0.74);
}

#flights {
    background: #a3bf3c;
}


